---
import data from 'src/data/showcase/data.json'


---




<ul class="FirstComp">

    <div class=" flex justify-center text-red-600 text-3xl"> {data.headlines.headline1} </div> 

    <h1 class=" flex justify-center pt-10 p-5 text-xl font-bold">
        {data.titles.title2}
    </h1>
    
    <h3 class=" flex justify-center p-5">
         {data.subtexts.subtext3} 
    </h3>

    
</ul>

