---
import data from 'src/data/showcase/data.json'

const src = 'src/data/showcase/images/picture.jpg'


---



   


<div class=" htmlX hidden sm:block"> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Oswald:wght@300;400&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
  
  <div class=" grid grid-cols-12">

    <div class="  col-span-6">
      
      <div class=" ml-28 mt-36 font-sans">
        <div class=" font text-black text-4xl flex justify-start"> Real Estate CO. <a class="text-gradient ml-2"> </a>  </div>
        <h1 class=" font mt-14 flex justify-start text-6xl">	
          NO JSON. </h1> 
        
        <h1 class=" font mt-10 flex justify-start text-6xl "> 
            RESPONSIVENESS.
        </h1>

        <h1 class=" font mt-10 flex justify-start text-6xl "> 
          NEEDS EDIT.
        </h1>
        
        
      </div>
    </div>

    <div class=" pb-28 col-span-6">
        <div class=" mr-10 mt-20"> <img src={src} alt="photo"> </div>
    </div>

  </div>


      </div>



<style>
.font {
 font-family: 'Sawarabi Gothic', sans-serif;
}
main {
margin: auto;
padding: 1.5rem;
max-width: 60ch;

}
h1 {
font-size: 4.2rem;
font-weight: 800;
margin: 0;
}
.text-gradient {
background-image: var(--accent-gradient);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 400%;
background-position: 0%;
}
.text-gradient2 {
background-image: var(--accent-gradient2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 400%;
background-position: 0%;
}
.instructions {
line-height: 1.6;
margin: 1rem 0;
border: 1px solid rgba(var(--accent), 25%);
background-color: white;
padding: 1rem;
border-radius: 0.4rem;
}
.instructions code {
font-size: 0.875em;
font-weight: bold;
background: rgba(var(--accent), 12%);
color: rgb(var(--accent));
border-radius: 4px;
padding: 0.3em 0.45em;
}
.instructions strong {
color: rgb(var(--accent));
}
.link-card-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
gap: 1rem;
padding: 0;
}
:root {
--accent: 124, 58, 237;
--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
--accent-gradient2: linear-gradient(45deg, rgb(var(--accent)), #1503b4 40%, rgb(255, 255, 255) 60%);
}
.htmlX {
font-family: system-ui, sans-serif;
background-color: #dfc4a9;
}

</style>